.space.stars1,
.background-effects .flare,
.particles-js {
  transition: background 0.7s cubic-bezier(0.4,0,0.2,1), filter 0.7s;
}

.team {
    position: relative;
    padding: 100px 2rem 2rem;
    background: radial-gradient(circle at center, #050028 0%, #030014 100%);
    overflow: hidden;
}

.title {
    h1 {
        text-shadow: -3px 5px 5px #dddddda0;
    }
    p {
        font-style: oblique;
        font-weight: 300;
    }
}

.cards {
    display: grid;
    list-style: none;
    gap: 100px;
    margin: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0;
}

.card {
    background: linear-gradient(-0.1turn, #fdc5f5a0, #f7aef8a0, #d59bf2a0, #b388eba0, #9a8eeea0, #8093f1a0, #79b8f4a0, #72ddf7a0);
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    img {
        border-radius: 50%;
    }
    .name {
        font-weight: bold;
        font-size: larger;
    }
    .role {
        font-style: italic;
        font-weight: 300;
    }
}

.card:hover {
    background: linear-gradient(-0.1turn, #fdc5f5ac, #f7aef8ac, #d59bf2ac, #b388ebac, #9a8eeeac, #8093f1ac, #79b8f4ac, #72ddf7ac);
    scale: 1.1;
    .name {
        text-decoration: underline;
    }
}